# Auto detect text files and perform LF normalization
* text=auto
<!DOCTYPE html>
<html>
<head>
	<title>Testpage</title>
</head>
<body>
	<h1>Kopfzeiel</h1>
	<p>Im a <i><b>paragraph</b></i></p>
	<a href="https://google.com" target="blank" title="Lets go to google">Google Link </a>
	<p> My name is: <br>
	 Ciri </p>
	<img src="img/image.jpg" style="width: 500px">
</body>
</html>

	